{% extends 'admin_shop/base.html' %}
{% load my_filters %}
{% block content %}
<div class="content">
    <div class="my-4">
        <h4 class='mb-4'>Thông tin sản phẩm </h4>
        <div class="row">
            <div class="col-8">
                <div class="card p-4">
                    <div class="fs-5">{{product.name}}</div>
                    <div class="d-flex gap-3 my-3">
                        <div class="rating d-flex gap-1">
                            <div class='rating'>
                                {% for i in 5|times %}
                                {% if i <= product.rating %}
                                <i class="fa-solid fa-star"></i>
                                {% else %}
                                <i class="fa-regular fa-star"></i>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <span>5.0</span>
                        </div>
                        <div class="total_sold">Đã bán: {{product.total_sold}}</div>
                    </div>

                    <div class="d-flex gap-3 mt-3">
                        <div class="price">Giá: {{product.price|floatformat:0|intcomma_dot}}đ</div>
                        {% if product.price != product.curr_price %}

                        <div class="price color-red">Giá khuyến mãi: {{product.curr_price|floatformat:0|intcomma_dot}}đ</div>
                        {% endif %}

                    </div>
                    <div class="d-flex gap-3 mt-3 row">
                        <div class='mt-3 fs-5'>Ảnh sản phẩm</div>
                        {% for image in product.productimage_set.all %}
                        <div class='col-2'>
                            <img class='product-detail-image' src="{{image.name.url}}" alt="" width="100">
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        <div class="description fs-5 mb-3">Mô tả</div>
                        <div class="container-text">
                            <p class="text">👩 MÔ TẢ SẢN PHẨM
                                - Áo thun nam nữ oversize sử dụng chất vải cotton 65/35 co giãn 4 chiều. Là loại vải có đặc điểm mềm mịn, độ co giãn cao, khả năng thấm hút tốt và được dệt hoàn toàn từ sợi cây bông tự nhiên. Chất vải cotton cực kỳ thân thiện với làn da.
                                - Áo thun nam nữ form rộng cổ tròn thoải mái
                                - Áo phông unisex form rộng dễ phối đồ. Bạn có thể phối với quần jean, chân váy, … kết hợp với một đôi sneaker cho bạn tự tin xuống phố

                                📣 HƯỚNG DẪN BẢO QUẢN ÁO PHÔNG NAM NỮ OVERSIZE VENDER Shop
                                - Lộn trái áo thun nam nữ tay ngắn khi giặt, không giặt chung áo thun unisex trắng với quần áo tối màu.
                                - Sử dụng xà phòng trung tính, không sử dụng xà phòng có chất tẩy mạnh cho áo thun nam nữ oversize.
                                - Không sử dụng chất tẩy, không ngâm áo phông unisex.
                                - Phơi ngang, không treo móc khi áo thun unisex ướt, không phơi trực tiếp dưới ánh nắng mặt trời.

                                ️🎯 Giao hàng đúng size, lỗi 1 đổi 1
                                ️🎯 Giao COD toàn quốc
                                ️🎯 Hỗ trợ đổi size và đổi màu trong vòng 7 ngày kể từ khi nhận hàng, sản phẩm đổi phải còn nguyên tem mac và chưa qua sử dụng.
                                ⚠️ LƯU Ý: Khi mở sản phẩm, khách yêu vui lòng quay lại video quá trình mở sản phẩm để được đảm bảo 100% đổi lại sản phẩm mới nếu Áo thun VENDER giao bị lỗi.
                            </p>
                            <button class="expanse-text btn btn-secondary">Xem thêm</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card">
                    <div class="d-flex justify-content-center my-2 fs-5">Các loại sản phẩm</div>
                    <div class="px-2">
                        <table class="table p-4">
                            <thead>
                                <tr>
                                    <th>Màu</th>
                                    <th>Cỡ</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for variant in product.productdetail_set.all %}
                                <tr>
                                    <td>{{variant.color}}</td>
                                    <td>{{variant.size}}</td>
                                    <td>{{variant.quantity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="my-4">Đánh giá sản phẩm</h5>
        {% if feedbacks %}
        {% for feedback in feedbacks %}
        <div class="feedback mt-4">
            <div class="product-rating__item">
                <div class="d-flex mt-4">
                    <img class="user-image-rate" src="{{feedback.customer.avatar.url}}" alt="">
                    <div class="d-flex flex-column ms-3">
                        <div class="">{{feedback.customer.name}}</div>
                        <div class="color-gray">{{feedback.date|date:"H:i d/m/Y"}}</div>
                        <div class="mt-1">
                            {% for i in 5|times %}
                            {% if i <= feedback.rating %}
                            <i class="fa-solid fa-star"></i>
                            {% else %}
                            <i class="fa-regular fa-star"></i>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class=" image-feedback-list d-flex mt-3">
                            {% for image in feedback.feedbackimage_set.all %}
                            <div class="image-feedback-item">
                                <img src="{{image.name.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mt-3">
                            {{feedback.comment}}
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <div class="btn active btn-like"> {{feedback.like}} <i class="fa-solid fa-thumbs-up "></i></div>
                            <div class="btn ms-2  btn-dislike">{{feedback.dislike}} <i class="fa-solid fa-thumbs-down"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-controller">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %} ">
                        <a class="page-link pre-page" href="/product-detail/{{product.product_id}}?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if page_obj.has_previous %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="/product-detail/{{product.product_id}}?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{page_obj.number}}</a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="/product-detail/{{product.product_id}}?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link next-page {% if page_obj.number == 1 %}disabled{% endif %}" href="/product-detail/{{product.product_id}}?page={{page_obj.paginator.num_pages}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {% endfor %}
        {% else %}
        <div class='alert alert-danger mt-3 d-flex justify-content-center'>
            Chưa có đánh giá nào
        </div>
        {% endif %}

    </div>
</div>
<script>
    $(document).ready(function() {
        $('.expanse-text').click(function() {
            $('.text').toggleClass('show-text');
            if ($('.text').hasClass('show-text')) {
                $('.expanse-text').text('Thu gọn');
            } else {
                $('.expanse-text').text('Xem thêm');
            }
        })
    });
</script>
{% endblock content %}