{% extends 'customer/base.html' %}
{% load humanize %}

{% block content %}
<section class="py-5">
    <div class="container ">
        <h2>Giỏ hàng</h2> 
        <div class="row">
            <div class="col-8">

                {% if cart.cartitem_set.all %}                
                <div class="cart-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><input class="cart-table__select-all form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                                <th scope="col" style="width: 250px;">Sản phẩm</th>
                                <th scope="col">Màu sắc</th>
                                <th scope="col">Kích cỡ</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in cart.cartitem_set.all %}
                            <tr class="cart-table-row" data-cart-item-id='{{ item.cart_item_id }}'>
                                <!-- viết một hàng dữ liệu sản phẩm trong giỏ hàng -->
                                <th scope="row">
                                    <input class="cart-table__select-item form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </th>
                                <td>
                                    <div class="d-flex ">
                                        <img src="{{ item.product.productimage_set.first.name.url }}" alt="" class="cart-product-img" style="width: 64px;" />
                                        <div class="cart-product-name text-container ms-2">{{ item.product.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cart-product-size">{{ item.color }}</div>
                                </td>
                                <td>
                                    <div class="cart-product-size">{{ item.size }}</div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-quantity btn-minus">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                        <input type="number" class="form-control input-quantity" min="1" value="{{ item.quantity }}">
                                        <button class="btn btn-quantity btn-add">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="cart-product-price"></div>
                                </td>
                                <td>
                                    <div class="cart-product-total-price"></div>
                                </td>
                                <td>
                                    <div class="cart-product-action">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </td>

                            </tr>

                            {% endfor %}

                            <tr class="cart-table-row">
                                <td class="fw-bold" colspan="6">Tổng tiền</td>
                                <td class="total-price">0đ</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {% else %}
                <div class="alert alert-danger mt-3 d-flex justify-content-center">Không có sản phẩm nào trong giỏ hàng</div>
                {% endif %}

            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h4>Đặt hàng</h4>
                        <div class="d-flex justify-content-between mt-4">
                            <p>Số sản phẩm</p>
                            <p class="total-quantity">0</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Tổng tiền sản phẩm</p>
                            <p class="total-price">0đ</p>
                        </div>

                        <div class="input-group my-4">
                            <input type="text" class="form-control coupon" placeholder="Voucher" name='coupon'>
                            <button class="btn btn-light btn-coupon" style="width: 100px;">Apply</button>
                        </div>

                        <div class="d-flex justify-content-between voucher-result">
                        </div>

                        <div class="total-after-voucher d-flex justify-content-between my-3 border-y border-das ">
                            <h4>Tổng tiền</h4>
                            <h4 class="total-money">0đ</h4>
                        </div>
                        <div class="payment">
                            <button class="btn btn-primary w-100" style="height: 40px;">Thanh toán</button>
                            <div class="payment-alert"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        {% if cart.cartitem_set.all %}
        
        {% for item in cart.cartitem_set.all %}

        var priceOfProduct = parseFloat('{{ item.product.price }}');
        $('.cart-product-price').text(priceOfProduct + 'đ');

        var quantity = parseInt('{{ item.quantity }}');

        var totalPrice = priceOfProduct * quantity;
        $('.cart-product-total-price').text(totalPrice + 'đ');

        {% endfor %}
        {% endif %}

        $(".cart-table__select-all").click(function() {
            var checkAllState = $(this).prop('checked');
            $('.cart-table__select-item').prop('checked', checkAllState);
            calMoney();
        })

        $(".cart-table__select-item").click(function() {
            // kiểm tra xem có checkbox nào chưa được check không
            var unchecked = $(".cart-table__select-item:not(:checked)").length;
            // nếu không có checkbox nào chưa được check, check-all cũng được check
            $(".cart-table__select-all").prop("checked", !unchecked);
            calMoney();
        });
        $('.btn-add').click(function() {
            changeQuantity.bind(this)('add')
        });
        $('.btn-minus').click(function() {
            changeQuantity.bind(this)('minus')
        });


        $('.cart-product-action').click(function() {
            var cartItemId = $(this).closest('tr').data('cart-item-id');
            console.log(cartItemId);
  
            if (confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?') == true) {
                $(this).closest('.cart-table-row').remove();
                checkNumOfItems();
                
                calMoney();
                $.ajax({
                    data: {
                        'cart_item_id': cartItemId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    url: '{% url "delete-cart-item" %}',
                    type: 'POST',
                    success: function(response) {
                        console.log('Xóa thành công');
                        
                    },
                    error: function(error) {
                        alert('Có lỗi xảy ra');
                    }
                });
            }
        })

        $('.btn-coupon').click(function() {
            var coupon = $('.coupon').val();
            if (coupon == '') {
                $('.voucher-result').html('<div class="text-danger">Vui lòng nhập mã giảm giá</div>');
                return;
            }
            var total_money = parseFloat($('.total-money').text().replace('.', ''));
            $.ajax({
                data: {
                    'coupon': coupon,
                    'total_money': total_money,
                },
                url: '{% url "check-coupon" %}',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                    if (response.status == 'success') {
                        $('.voucher-result').html('<div class="">Voucher giảm</div> <div class="voucher-price color-red"> -' + response.discount + 'đ</div>');
                        calMoney();
                        console.log('Áp dụng mã giảm giá thành công');
                    } else {
                        $('.voucher-result').html('<div class="text-danger">' + response.message +'</div>');
                    }
                },
                error: function(error) {
                    alert('Có lỗi xảy ra');
                }
            });
        })

        $('.payment').click(function() {
            var total_money = parseFloat($('.total-money').text().replace('.', ''));
            if (total_money == 0) {
                $('.payment-alert').html('<div class="text-danger mt-3">Vui lòng chọn sản phẩm</div>');
                return;
            }
            // lấy những cart-item dược check
            var cartItemIds = [];
            $('.cart-table__select-item:checked').each(function() {
                var cartItemId = $(this).closest('tr').data('cart-item-id');
                cartItemIds.push(cartItemId);
            });
            var data = {
                'cart_item': cartItemIds.join(','),
                'total_money': total_money,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            var coupon = $('.coupon').val();
            var discount = parseFloat($('.voucher-price').text().replace('.', ''));
            if (coupon != '' && discount != undefined) {
                data['coupon'] = coupon;
                data['discount'] = discount;
            }
            console.log(data);
            $.ajax({
                data: data,
                url: '{% url "check-out" %}',
                type: 'POST',
                success: function(response) {
                    console.log('hello')
                    document.write(response);
                },
                error: function(error) {
                    alert('Có lỗi xảy ra');
                }
            });
        }
        )

    })


    function changeQuantity(operation) {
        var inputQuantity = $(this).siblings('.input-quantity');
        var price = parseFloat($(this).closest('tr').find('.cart-product-price').text().replace('.', ''));
        var quantity = parseInt(inputQuantity.val());
        quantity = operation == 'add' ? quantity + 1 : quantity - 1;
        
        inputQuantity.val(quantity);
        $(this).closest('tr').find('.cart-product-total-price').text(price * quantity + 'đ');
        calMoney();
        if (quantity == 0) {
            $(this).closest('.cart-table-row').remove();    
            checkNumOfItems();
        }

        var cartItemId = $(this).closest('tr').data('cart-item-id');
        data = {
            'cart_item_id': cartItemId,
            'quantity': quantity,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        $.ajax({
            url: '{% url "edit-cart-item" %}',
            type: 'POST',
            data: data,
            success: function(response) {
                console.log('Cập nhật thành công');
            },
            error: function(error) {
                console.log('Có lỗi xảy ra');
            }
        });
    }

    function calMoney() {

        var totalQuantity = 0;
        var totalPrice = 0;
        var voucher = 0;
        var totaMoney = 0;
        $('.cart-table__select-item:checked').each(function() {
            var quantity = parseInt($(this).closest('tr').find('.input-quantity').val());
            var price = parseFloat($(this).closest('tr').find('.cart-product-total-price').text().replace('.', ''));
            totalQuantity += quantity;
            totalPrice += price;
        });
        voucher = parseFloat($('.voucher-price').text().replace('.', '')) || 0;
        totaMoney = totalPrice;
        totaMoney = totaMoney == 0 ? 0 : totaMoney + voucher;
        // Hiển thị kết quả lên giao diện
        $('.total-quantity').text(totalQuantity);
        $('.total-price').text(totalPrice + 'đ');
        $('.total-money').text(totaMoney + 'đ');
    }

    function checkNumOfItems () {
        var numOfItems = $('.cart-table-row').length;
        if (numOfItems == 1) {
            var alert = '<div class="alert alert-danger mt-3 d-flex justify-content-center">Không có sản phẩm nào trong giỏ hàng</div>'
            $('.cart-table').closest('.col-8').html(alert)
        }
    }
</script>
{% endblock content %}